.label {
	-fx-font-size: 12px;
	-fx-text-fill: #000000;
	-fx-border-insets: 5px;
}

.button {
	-fx-font-size: 16px;
	-fx-font-weight: bold;
	-fx-font-style: italic;
	-fx-text-fill: #000000;
}

.text-field {
	-fx-border-insets: 5px;
	-fx-border-color: black;
	-fx-border-width: 1px;
	-fx-max-width: 99999px;
}

.text-area {
	-fx-border-insets: 5px;
	-fx-border-color: black;
	-fx-border-width: 1px;
	-fx-max-width: 99999px;
	-fx-max-height: 99999px;
}

.hbox {
	-fx-padding: 5px;
	-fx-alignment: center-left;
	-fx-spacing: 5px
}

.grid-pane {
	-fx-hgap: 5px;
	-fx-vgap: 5px;
}

.right-align {
	-fx-alignment: center-right;
}

.vbox {
	-fx-spacing: 5px;
}

.pane {
	-fx-padding: 5px;
}

#onlineStatus {
	-fx-opacity: 1;
}